
/*

320px (4 cols)
@media (min-width: 1em) { }

480px (6 cols)
@media (min-width: 30em) { }

640px (8 cols)
@media (min-width: 40em) { }

800px (10 cols)
@media (min-width: 50em) { }

960px (12 cols)
@media (min-width: 60em) { }

*/

.text-center, .center {
  text-align: center;
}

/* START. */

body {
  font-family: "franklin-gothic-urw", courier, sans-serif;
  line-height: 30px;
  font-size: 22px;
}

@media (max-width: 40em) {
  body {
    line-height: 24px;
    font-size: 16px;
  }
}

/* --------------------------------
 * Style resets.
 */


a:link, a:visited		{
  color: #2cb5e2;
  text-decoration: none;
}

a:hover		{ }
a:active	{ }
a:focus		{ }

p, h1, h2, h3, h4, h5, h6, a {

}

p {

	margin: 0;
}

h1 {

}

h1 a:link, h1 a:visited {
  color: black;
}

h2 {

}

h3 {
  color: #FF6384;
}

em {
	font-style: italic;
}

abbr {
	text-decoration: none;
}

ul {
	list-style: none;
}

ol {
  list-style-position: inside;
}

/** --------------------------------
 * Header
 */

.name-domain, .name-blog {
  font-weight: 400;
}

a.name-domain {
  color: #8b4eb0;
  text-decoration: none;
  padding-right: 4px;
}

.name-blog {
  color: #f280c6;
}

/* 480px (6 cols) */
@media (max-width: 30em) {
  a.name-domain, .name-blog {

  }
}

/** --------------------------------
 * Post
 */

.post header h1 {
  color: rgb(32,32,32);
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  font-weight: 400;
  margin: 0 0 16px 0;
}

.subhead {
  text-indent: 0;
}

.break {
  margin: 16px 0;
}

.break-subhead {
  text-align: center;
  text-indent: 0;
  padding: 16px 0;
  border-bottom: 1px solid lightgrey;
}

.no-indent {
  text-indent: 0;
}

.purple-light {
  color: #a972c1;
}

@media (max-width: 40em) {
  .post header h1 {
    text-align: left;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 0 0;
  }

  .post-date, .post-link {
    text-align: left;
  }
}

.highlight {
  background: #f9e79e;
}

.post-date {
  color: #96a2b0;
}

.post-content {
  p {
    margin: 0 0 16px 0;
  }
}

/* 480px (6 cols) */
@media (max-width: 40em) {
  .post header h1 {

  }
}

/** --------------------------------
 * Copy
 */

.copy {
  text-indent: 32px;
  font-weight: 300;
}

.copy p:first-child {
  /* text-indent: 0; */
}

/** --------------------------------
 * Code
 */


code {
  color: #187ACE;
  font-family: "courier-prime", monospace;
}

p > code {
  font-family: "courier-prime", monospace;
  font-size: 14px;
  background: #e9eff2;
  border-radius: 4px;
  padding: 2px 8px 0 8px;
  background-clip: padding-box;
}


pre {
  padding: 24px;
  margin: 0;
  background: white;
}

.highlight {
  margin: 24px 0;
  line-height: 16px;
  padding: 0 0 0 0px;
  text-indent: 0;
}

.highlight code {
  font-size: 14px;
}

/** --------------------------------
 * Post list.
 */

.post-list {
  padding: 0;
}

.post-list li {
  margin: 0 0 16px 0;
}

.post-list li:last-child {
  margin: 0;
}

.post-list h2 {
  color: rgb(32,32,32);
  font-size: 34px;
  line-height: 44px;
  font-weight: 400;
  margin: 0 0 4px 0;
}

@media (max-width: 40em) {
  .post-list h2 {
    text-align: left;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 4px 0;
  }
}


.post-list h2 a {
  text-align: center;
  color: #202020;
}

/** --------------------------------
 * Footer.
 */

 a.twitter {
  color: #2ecc71;
 }

.copyright, .rss-subscribe {
  text-indent: 0;
  color: black;
  font-weight: 400;
}

/* 480px (6 cols) */
@media (max-width: 30em) {
  .copyright, .rss-subscribe {
  }
}
