/**
 * Remotes styles.
 */

@import 'nib-styles/responsive-grid';

/**
 * Local styles.
 */

@import './ui/pygments.css';
@import './ui/grid-heights.css';
@import './ui/typography.css';

/**
 * Meta-local styles.
 */

body {
  /* background-color: #f5fafa; */
}

.michael-yo {
  background: url(../../assets/michael-troy.jpg);
  background-size: 150px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  display: inline-block;
}

@media (max-width: 40em) {

  .michael-yo {
    background-size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}

.highlight {
  overflow: auto;
}

/* Images */

.image-container {
  margin: 64px 0 0 0;
  overflow: auto;
}

.image-container--intro {
  margin-top: 0 !important;
}

.image-container img {
  width: 100%;
  float: left;
}

.image-caption {
  margin: 14px 0 32px 0;
}

.image-caption p {
  text-indent: 0;
  color: #83a2b6;
  font-size: 14px;
  line-height: 20px
}

@media (min-width: 0em) {

}

@media (min-width: 60em) {

}
