/**
 * Remotes styles.
 */
 
@import 'nib-styles/responsive-grid';

/**
 * Local styles.
 */
 
@import './ui/pygments.css';
@import './ui/grid-heights.css';
@import './ui/typography.css';

/**
 * Meta-local styles.
 */
 
body {
  background-color: #f5fafa;
}

.highlight {
  overflow: auto;
}

.image-container {
  margin: 64px 0;
  overflow: auto;
}

.image-container--intro {
  margin-top: 0 !important;
}

.image-container img {
  width: 100%;
  float: left;
}

@media (min-width: 0em) {
  
}

@media (min-width: 60em) {

}