---
layout: default
meta: thing
---
<div class="rg-Grid">

  <!-- Post heading -->
    <div class="rg-Unit rg-Unit--center text-center
                rg-4of4 rg-8of10
                rg-px3at4 rg-px4at8 rg-pt5at8  rg-px4at8
                rg-pb1at4 rg-pb0at8">
    <div class="post">
      <header class="post-heading">
          <h1>{{ page.title }}</h1>
          <p class="post-date">{{ page.date | date: "%-d %B %Y" }}</p>
      </header>
    </div>
  </div>
  <!-- END Post heading -->

  <!-- Post content -->
  <div class="rg-Unit rg-Unit--center rg-4of4 rg-8of10 rg-p3at4 rg-p4at8">
    <article class="post-content copy">
      {{ content }}
    </article>

    <div class="text-center rg-pt5at4">



      <a href="https://twitter.com/share" class="twitter-share-button" data-via="michaeltroy">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

  </div>
  <!-- END Post content -->



  <!-- Comments. -->
  <div id="comments" class="rg-Unit rg-Unit--center rg-4of4 rg-8of10 rg-p3at4 rg-p4at8">
    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'michaelinbeta';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </div>
  <!-- END Comments. -->

</div>
